---
import { getCollection } from "astro:content"
import Layout from '../../layouts/Page.astro';
import PostBox from '../../components/widgets/postBox.astro';

// export const prerender = true;

export async function getStaticPaths() {
	const allPosts = await getCollection("blog");
	return allPosts.map((post) =>({
		params: { slug: post.slug },
		props: { post },
	}));
}

const allPosts = await getCollection("blog");

const seo = {
	title: 'Research | Sparxastronomy',
	description: 'Blogs by Bipradeep',
};
---


<Layout {seo}>
	<!-- div wrapping the contents -->
	<div class="noise-underlay inset-0">
		<!-- Research landing hero -->
		<div class="w-full bg-grid dark:bg-grid-dark flex flex-col text-center py-[2em] pb-[3em]">
			<div class="w-4/5 md:w-2/3 mx-auto pt-2">
				<h2 class="heading-3 md:heading-2 font-emphasis text-sky-700 dark:text-sky-400"> Welcome world!</h2><br>
				<div class="font-sans text-xl md:text-2xl">
					<p class="text-justify">
						To my corner of the internet where I write about my research, projects and other random stuff related to astrophysics, High-performance computing and programming.
						<br>
					</p>
				</div>
			</div>
		</div>

		<!-- Similar to Research timeline -->
		 <!-- Display post under Research sections -->
			<hr class="my-4" />
			<div class="py-6 flex flex-col justify-center items-center">
				<p class="mx-auto w-3/4 text-center text-[1.5em] md:text-[1.8rem] tracking-wide font-blog font-semibold">
					BLOGS
				</p>
				<ul class="justify-center items-center text-center text-xl">
					{
						allPosts.map((post) => (
							<li class="py-5">
								<PostBox url={'/blog/' +  post.slug} post={post} />
								</li>
								))
					}
				</ul>
			</div>
	</div>
</Layout>

