---
import { GetStaticPathsOptions, Page } from "astro"
import { CollectionEntry, getCollection } from "astro:content"
import { parse, isBefore } from 'date-fns';
import Layout from '../../layouts/Page.astro';
import PostBox from '../../components/widgets/postBox.astro';
import ResearchTimelineHero from '../../components/sections/heros/ResearchTimelineHero.astro';


export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection("blog");
}


const seo = {
	title: 'Research | Sparxastronomy',
	description: 'Research and Projects by Bipradeep',
};
---


<Layout {seo}>
	<!-- div wrapping the contents -->
	<div class="noise-underlay inset-0">
		<!-- Research landing hero -->
		<div class="w-full bg-grid dark:bg-grid-dark flex flex-col text-center py-[2em] pb-[3em]">
			<div class="w-4/5 md:w-2/3 mx-auto">
				<h2 class="heading-2"> Welcome BLOG!</h2>
				<div class="font-sans text-2xl">
					<p class="text-justify">
						Here you can find all my research and projects. I am currently working understanding the effects PopIII stars on Galaxy Formation and Evolution. I will be updating this page as I progress. You can also find my previous project and experieces below.
						<br>
					</p>
					<p class="text-center">
						Feel free to reach out if you want to collaborate 🙂.
					</p>
				</div>
			</div>
		</div>

		<!-- Similar to Research timeline -->
	</div>
</Layout>

