---
// import { Icon } from 'astro-icon';
// import { Container, Button } from '@littlesticks/odyssey-theme-components';
// import settings from '../../../config/settings.js';
// import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
import { Image, Picture } from '@astrojs/image/components';
---

<!-- This is the component to be used in home page. Design it using tail wind -->
<homehero id="homehero" class="z-10 flex flex-col bg-white dark:bg-dark-b">
	<div class='flex overflow-hidden'>
		<Image
		src="/assets/images/hero.jpg"
		alt="Sparxastronomy Landing Cover Image"
		quality="100"
		height="1000"
		aspectRatio="16:9"
		/>
	</div>
	<div class="flex flex-col items-center justify-center px-2 py-4 dark:text-blue-50 font-body">
		<div class="w-4/5 md:w-3/4 items-center justify-center">
			<p class="py-2 text-3xl md:text-5xl font-bold text-center tracking-wider">
				Bipradeep Saha
			</p>
			<p class='font-medium tracking-wide text-xl text-center'>
				Master's student in Physical Sciences at IISER Kolkata
			</p>
			<p class="my-2 mt-2 font-normal md:text-xl text-center">
				Hi there👋 welcome to my website.
			</p>
			<p class='font-normal md:text-xl text-justify'>
				I work on Computational Cosmology, and I'm interested in Large Scale Structures and the nature of Dark Matter. I'm also interested in Quantitative Finances.<br>
				In my free time I like to explore new places and try out new dishes. <br>
				Check out my recent work below and my past projects in the Research section.<br>
				You are welcomed to check out my caputures in the Photography section. <br><br> 
				Feel free to contact me if you have any questions or suggestions.
			</p>
		</div>
	</div>
</homehero>


