---
import Timeline from "../../widgets/timeline.astro";
import projects from "../../../config/projects.json";
---


<div class="mx-auto w-4/5 md:w-auto md:max-w-[60%] justify-center items-center">
    <p class="text-center text-[1.7rem] md:text-3xl tracking-wider font-bold font-porza my-2 mb-4">
        Research Timeline
    </p>
    <!-- Mapping the projects -->
    {
        projects.projects.map((item) =>(
            <Timeline item={item}/>
        ))
    }
</div>