---
import { Icon } from 'astro-icon';

const { link, label } = Astro.props
---

<div>
    <a href={link} aria-label={label} class="group inline-flex rounded-full bg-slate-800 font-medium dark:bg-slate-100 text-white dark:text-black px-4 py-1">
    {label}
    <svg class="flex mt-[0.42em] ml-2 -mr-2 stroke-[2px] stroke-white dark:stroke-midnight" fill="none" width="20" height="20" viewBox="0 0 15 15" aria-hidden="true">
        <path class="transition opacity-0 group-hover:opacity-100" d="M0 5h7"></path>
        <path class="transition group-hover:translate-x-[3px]" d="M1 1l4 4-4 4"></path>
    </svg>
    </a>
</div>