---
import { Icon } from 'astro-icon';
import Logo from '../Logo.astro';
import ToggleTheme from '../core/ToggleTheme.astro';
import ToggleMenu from  '../core/ToggleMenu.astro';
---

<header
	class="fixed top-0 z-40 flex-none mx-auto w-full bg-opacity-60 dark:bg-opacity-60 backdrop-filter backdrop-blur-[0.45em] font-sans"
	id="header"
>
	<div class="px-3 md:py-0 mx-auto w-full md:flex md:justify-between max-w-6xl md:h-[12vh]">
		<div class="flex justify-between">
			<a class="flex items-center" href='/'>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex text-blue-500 md:text-gray-600 dark:text-slate-200 h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible px-4"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center text-center w-full  text-2xl md:text-xl">
				<li class='hover:rounded-xl  hover:bg-gray-100 dark:hover:bg-gray-700 drop-shadow-xl text-right'>
					<a
						class="font-medium lg:text-xl hover:text-blue-600 dark:hover:text-blue-400 px-4 py-3 flex text-right transition duration-300 ease-in-out" href='/research'
						>Research</a>
				</li>
				<li class='hover:rounded-xl  hover:bg-gray-100 dark:hover:bg-gray-700 drop-shadow-xl flex item-center'>
					<a
						class="font-medium lg:text-xl hover:text-blue-600 dark:hover:text-blue-400 px-4 py-3 items-center transition duration-300 ease-in-out"
						href='/#about'
						>About
					</a>
				</li>
				<li class='rounded-xl hover:rounded-xl  hover:bg-gray-100 dark:hover:bg-gray-700 drop-shadow-xl'>
					<a
						class="font-medium lg:text-xl hover:text-blue-600 dark:hover:text-blue-400 px-4 py-3 flex items-center transition duration-300 ease-in-out"
						href='/captures'>Captures</a
					>
				</li>
			</ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-7 h-7" />
				</div>
			</div>
		</nav>
	</div>
</header>