---
import Layout from '../layouts/Page.astro';
import Button from '../components/widgets/button.astro';

const seo = {
	title: 'Sparxastronomy - 404',
	description: 'Sparxastronomy - 404',
};
---

<Layout {seo}>
	<div class="flex flex-col justify-center items-center h-screen font-porza text-4xl tracking-wide px-8">
		<h1 class="mb-4 text-red-500 dark:text-red-400">404</h1>
		<h2 class="my-4 text-center">Sorry, this page doesn't exists 👀</h2>
		<Button link="/" label="Get back to home"/>
	</div>
</Layout>

