---

---

<p class=" flex flex-row self-center ml-1 mt-3">
	<!-- Add svg logo from /Logo.svg -->
	<img src="/Logo_gen.svg" alt="Logo" class="h-12 w-12 md:h-[4em] md:w-[4em] mx-2" />
	<p class="hidden md:flex">
		<p class="hidden sm:flex flex-col justify-center items-center font-porza lg:text-2xl md:ml-3 md:text-lg font-bold text-gray-900 whitespace-nowrap dark:text-white hover:text-blue-500 dark:hover:text-blue-400 my-auto">
			SPARXASTRONOMY
		</p> 
	</p> 
</p>