---
import { GetStaticPathsOptions, Page } from "astro"
import { CollectionEntry, getCollection } from "astro:content"
import { parse, isBefore } from 'date-fns';
import Layout from '../../layouts/Page.astro';
import PostBox from '../../components/widgets/postBox.astro';
import ResearchTimelineHero from '../../components/sections/heros/ResearchTimelineHero.astro';


// export const prerender = true;

export async function getStaticPaths() {
	const allPosts = await getCollection("work");
	return allPosts.map((post) =>({
		params: { slug: post.slug },
		props: { post },
	}));
}

const allPosts = await getCollection("work");

// const allPosts = await getCollection("work");


// const posts = await Astro.glob('./posts/*.mdx').then(posts =>
// 	posts
// 		.map(({ frontmatter, url }) => ({
// 			title: frontmatter.title,
// 			description: frontmatter.description,
// 			authors: frontmatter.authors,
// 			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
// 			featuredImage: frontmatter.featuredImage,
// 			excerpt: frontmatter.excerpt,
// 			href: url,
// 		}))
// 		.sort((a, b) => {
// 			if (isBefore(a.publishDate, b.publishDate)) return 1;
// 			if (isBefore(b.publishDate, a.publishDate)) return -1;
// 			return 0;
// 		})
// );


const seo = {
	title: 'Research | Sparxastronomy',
	description: 'Research and Projects by Bipradeep',
};
---

<Layout {seo}>
	<!-- div wrapping the contents -->
	<div class="noise-underlay inset-0">
		<!-- Research landing hero -->
		<div class="w-full bg-grid dark:bg-grid-dark font-porza flex flex-col text-center py-[2em] pb-[3em]">
			<div class="w-4/5 md:w-2/3 mx-auto">
				<h2 class="heading-2"> Welcome World!</h2>
				<div class="font-sans text-2xl">
					<p class="text-justify">
						Here you can find all my research and projects. I am currently working understanding the effects PopIII stars on Galaxy Formation and Evolution. I will be updating this page as I progress. You can also find my previous project and experieces below.
						<br>
					</p>
					<p class="text-center">
						Feel free to reach out if you want to collaborate 🙂.
					</p>
				</div>
			</div>
		</div>

		<!-- Timeline for projects -->
		<ResearchTimelineHero/>

		<!-- Display post under Research sections -->
		<hr class="-mx-16 my-7 border-astro-gray-500" />
		<div class="py-6 flex flex-col justify-center items-center">
			<p class="mx-auto w-3/4 text-center text-[1.5em] md:text-[1.8rem] tracking-wide font-sans font-semibold">
				Detailed information about some of my project works
			</p>
			<ul class="justify-center items-center text-center text-xl">
				{
					allPosts.map((post) => (
					<li class="py-5">
						<PostBox url={'/work/' +  post.slug} post={post} />
					</li>
      				))
				}
			</ul>
		</div>
	</div>
</Layout>

