---
import 'lenis/dist/lenis.css';
import '../styles/tailwind.css';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import BasicScript from '../components/core/BasicScript.astro';
import { ClientRouter } from 'astro:transitions';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en"
	class="w-full bg-white dark:bg-astro-gray-700 text-black dark:text-white [color-scheme:Hdark]"
>
	<head>
		<BaseHead {...seo} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;800&display=swap" rel="stylesheet">
		<!-- Loading Katex -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" crossorigin="anonymous">
		<!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" crossorigin="anonymous"></script> -->
		<!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js"  crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>  -->
		<ClientRouter/>
	</head>
	<body>
		<BasicScript />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content" transition:animate="fade" transition:animate-duration="1.2s">
			<slot />
		</main>
		<slot name="footer"/>
	</body>
</html>
