/* .footer */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-bottom: 0;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Varela Round", sans-serif;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .container .sec {
  margin-right: 3rem;
  margin-left: 3rem;
}
.footer .container .sec.about-me {
  margin: auto;
  width: 45%;
}
.footer .container .sec.about-me h2 {
  position: relative;
  font-size: 25px;
  color: rgb(238, 124, 89);
  font-weight: 600;
  margin-bottom: 15px;
}
.footer h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 3px;
  background: rgb(17, 118, 250);
}

.footer p {
  color: white;
  font-size: 19px;
  text-align: justify;
}

.sci {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #2b4162;
  background-image: linear-gradient(0deg, #2b4162 0%, #12100e 74%);
  border-radius: 1000px;
  transition: 0.5s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.sci li .fa {
  font-size: 25px;
  color: white;
}

.sci li a:hover {
  transform: translate(0, -15px);
  background-color: #e1306c;
}
.footer .container .sec.contact {
  width: 45%;
  margin: auto;
}
.footer .container .sec.contact h2 {
  position: relative;
  font-size: 25px;
  color: rgb(238, 124, 89);
  font-weight: 600;
  margin-bottom: 15px;
}
.footer h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 70px;
  height: 3px;
  border-radius: 50px;
  background: rgb(17, 118, 250);
}

.info {
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}
.info li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-top: 3px;
  text-align: center;
}
.info li fa {
  color: white;
}
.info p {
  font-size: 18px;
  font-weight: 100;
}
.info li a {
  width: auto;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.info li a:hover {
  transform: translate(20px, 0px);
  background-color: #306ee1;
  background-image: none;
}

@media (max-width: 920px) {
  .footer {
    padding: 30px 30px;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .container .sec.about-me {
    margin: auto;
    width: 90%;
  }
  .footer .container .sec.contact {
    margin: auto;
    width: 90%;
    margin-top: 5rem;
  }
}
