/* This is the CSS for home page */

/* Home page styling */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/* welcome banner styling */
.welcome {
  /* padding-top: 55px; */
  width: 100%;
  max-height: 400px;
  height: auto;
}

.welcome img {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
}

.welcome-quote {
  font-weight: 200;
  font-size: 30px;
  padding: 80px 10px;
  text-align: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  background-image: url(/media/cover_photo/welcome1.jpg);
}
.welcome-quote p {
  color: white;
}

/* home styling */
.home {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
/* main heading */
.home h1 {
  font-size: 25px;
  color: rgb(255, 146, 43);
  font-family: "Varela Round", sans-serif;
}
/* sub heading, no colors */
.home h2 {
  font-size: 27px;
  color: var(--text);
  font-weight: bold;
}
.home h3 {
  font-size: 22px;
  color: rgb(252, 120, 175);
  font-weight: 400;
}
.home h4 {
  font-size: 21px;
  color: rgb(20, 114, 70);
  font-weight: 650;
  text-decoration: underline;
  text-align: left;
  margin: 1rem 0rem;
}
/* Intro heading on about me page */
.home h5 {
  font-size: 44px;
  color: rgb(57, 128, 74);
  font-weight: italic;
  font-family: "Dancing Script", cursive;
}

.home p {
  color: var(--text);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boxed-content {
  display: block;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--card-bkg);
  text-align: center;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
  /* border: 2px solid gray; */
  border-radius: 20px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}
.boxed-content p {
  font-size: 21px;
  font-weight: 370;
  font-style: italic;
}

.blocks {
  width: auto;
  max-width: 80%;
  max-height: 500px;
  color: var(--text);
  background-color: var(--card-bkg);
  padding: 0;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.block-image {
  width: 35%;
  /* background-color: blue; */
  text-align: center;
  padding: 0.5rem;
  margin: auto;
  margin-left: 20px;
  text-align: center;
}
.block-image img {
  width: 100%;
  max-width: 600px;
}
.block-info {
  width: 60%;
  margin: auto;
  margin-right: 20px;
  /* background-color: magenta; */
  display: flex;
  flex-direction: column;
}
.block-info p {
  font-size: 20px;
  text-align: justify;
}

.block-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.block-info ul li {
  padding: 0.7rem 1px;
}

@media (max-width: 1100px) {
  .blocks {
    width: auto;
    max-width: 90%;
    flex-direction: column;
    max-height: 100%;
    justify-content: center;
  }
  .block-image {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  .block-image img {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 400px;
  }
  .block-info {
    margin: 0;
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .home h1 {
    font-size: 23px;
  }
  .welcome-quote {
    font-size: 22px;
  }
  .boxed-content p {
    font-size: 19px;
  }
}
