/* main stylesheet for the webpage */

/* defining main themeing elements */
:root {
  --text: black;
  --bkg: rgba(240, 240, 240, 0.945);
  --card-bkg: white;
  --shadow: rgba(0, 0, 0, 0.5);
  --brightness: 100%;
}
.dark-theme {
  --text: #efefef;
  --bkg: #121212;
  --card-bkg: rgb(39, 39, 39);
  --shadow: rgb(0, 0, 0);
  --brightness: 80%;
}
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: var(--text);
  background: var(--bkg);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  background: rgba(20, 25, 27, 0.87);
  font-family: "Varela Round", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 35px;
  font-weight: bold;
  margin: 0.5rem;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
/* logo styling */
.responsive-logo {
  width: 320px;
}

#icon {
  margin: -0.6rem 0.6rem;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.navbar-links ul {
  margin: auto;
  padding: 0;
  display: flex;
  flex: 1;
  text-align: right;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 100px;
}
.navbar-links a:hover {
  background-color: #03e5b7;
  background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
  transition: 0.5s;
}

/*styling toggle button*/
.toggle-button {
  position: absolute;
  top: 1.15rem;
  right: 1.15rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 1100px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .navbar-links ul {
    width: 50%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    display: block;
    padding: 0.5rem 1rem;
    width: 40%;
    margin: auto;
  }

  #icon {
    margin: auto;
    margin-top: 2px;
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  .navbar-links.active {
    display: flex;
  }
  .navbar.active {
    background-color: black;
  }
  .welcome-quote.active {
    display: none;
  }
}
